

{% extends 'base.html.twig' %}

{% block title %}Informații{% endblock %}

{% block body %}
<h1>Informații despre proiect</h1>
<p>Aceasta este o aplicație construită cu Symfony și Bootstrap.</p>
{% endblock %}
