
<h1>Article list</h1>

{% if articles is not empty %}
    <ul>
        {% for article in articles %}
            <li>{{ article.title }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nu există articole disponibile.</p>
{% endif %}
